.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.StudentList {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.AddStudent {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  margin: 10px;
}
.card * {
  margin: 10px;
}
